APP_ENV=production
APP_URL=https://jeftezmont.me
SETUP_TOKEN=
DB_HOST=localhost
DB_NAME=u710982930_db_OIhTqF3l
DB_USER=u710982930_usr_OIhTqF3l
DB_PASSWORD=PEGA_AQUI_LA_PASSWORD_REAL_DE_HOSTINGER
TURNSTILE_SITE_KEY=0x4AAAAAAEd_PwUxO1vbO1ew
TURNSTILE_SECRET_KEY=PEGA_AQUI_EL_SECRET_KEY_DE_TURNSTILE
TURNSTILE_ACTION=admin_login
TURNSTILE_HOSTNAMES=jeftezmont.me,www.jeftezmont.me
WEBAUTHN_RP_ID=jeftezmont.me
WEBAUTHN_RP_NAME=jeftezmont.me
WEBAUTHN_ORIGINS=https://jeftezmont.me,https://www.jeftezmont.me
